body{
    background: blue;
    background: linear-gradient(aqua, azure);
    margin: 0px;
    padding: 0px;
    margin-top:0px;
}
h1{
    text-align:center;
    background:linear-gradient(blue, aqua);
    font-size:40px;
    padding:0;
    margin:0;
    border:0;
}
#everythingbut{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
}
.majoridea{
    background:lightsteelblue;
    border-style:double;
    border-width:5px;
    border-radius:15px;
    margin:10px;
}
.subheader{
    font-weight:bold;
    text-align:center;
    margin-top:7px;
    margin-bottom:7px;
    font-size:25px;
}
p{
    margin-top:5px;
}
img{
    display:block;
    margin:0 auto;
    height:200px;
}